<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.majazeh.risloo">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Utils.Config.App"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="${appIcon}"
        android:label="${appLabel}"
        android:largeHeap="true"
        android:launchMode="singleTop"
        android:networkSecurityConfig="${appNetworkSecurityConfig}"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="${appRoundIcon}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize"
        tools:ignore="UnusedAttribute"
        tools:replace="android:label">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${appAuthorities}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity
            android:name=".Views.Activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LauncherTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.Activities.IntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.AuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.MainActivity"
            android:screenOrientation="portrait" >

            <!-- Codes For Payment - Please Place It Inside Activity That Will Be Directed To -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${appScheme}" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Views.Activities.DisplayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.TestActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>