<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.majazeh.risloo">

    <!-- Codes For App Persmissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Codes For App Packages -->
    <queries>
        <package android:name="com.majazeh.risloo" />
    </queries>

    <!-- Codes For App Informations -->
    <application
        android:name=".Utils.configs.App"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="${appIcon}"
        android:label="${appLabel}"
        android:largeHeap="true"
        android:launchMode="singleTop"
        android:networkSecurityConfig="${appNetworkSecurityConfig}"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="${appRoundIcon}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize"
        tools:ignore="UnusedAttribute"
        tools:replace="android:label">

        <!-- Codes For App File Provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${appAuthorities}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/external_provider_paths" />
        </provider>

        <!-- Codes For App Activities -->
        <activity
            android:name=".Views.activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/LauncherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.activities.AuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.activities.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <!-- Codes For App Payment Response - Please Place It Inside The Activity That Will Be Redirected Back To -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${appScheme}" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Views.activities.DisplayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.activities.TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>